In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('./CART_dataset.csv')

In [5]:
data

   turtorials      labs  exam
0         all  complete    74
1        some   partial    23
2         all  complete    61
3         all  complete    74
4        some   partial    25
5         all  complete    61
6        some  complete    54
7        some   partial    42
8        some  complete    55
9         all  complete    75
10       some   partial    13
11        all  complete    73
12       some   partial    31
13       some   partial    12
14       some   partial    11

In [12]:
#切分变量为turtorials,该特征的取值为2种，所以直接计算其均方误差
turtorials_c1 = np.mean(data[data.turtorials == 'all']['exam'])
turtorials_c2 = np.mean(data[data.turtorials == 'some']['exam'])
turtorials_exam1 = data[data.turtorials == 'all']['exam'].values
turtorials_exam2 = data[data.turtorials == 'some']['exam'].values
m_turtorials = np.sum((turtorials_exam1 - turtorials_c1) ** 2) + np.sum((turtorials_exam2 - turtorials_c2)**2)
print(turtorials_c1, turtorials_c2, m_turtorials)

69.66666666666667 29.555555555555557 2619.5555555555557

In [15]:
#切分变量为labs时
print(data.labs.value_counts())
labs_c1 = np.mean(data[data.labs == 'complete']['exam'])
labs_c2 = np.mean(data[data.labs == 'partial']['exam'])
labs_exam1 = data[data.labs == 'complete']['exam'].values
labs_exam2 = data[data.labs == 'partial']['exam'].values
m_labs = np.sum((labs_exam1 - labs_c1)**2) + np.sum((labs_exam2 - labs_c2) ** 2)
print(labs_c1, labs_c2, m_labs)

complete    8
partial     7
Name: labs, dtype: int64
65.875 22.428571428571427 1364.5892857142858

In [20]:
#切分变量的均方误差更小，所以选择labs作为切分点
data1 = data[data.labs == 'complete']
data2 = data[data.labs == 'partial']
print(data1)
print(data2)

   turtorials      labs  exam
0         all  complete    74
2         all  complete    61
3         all  complete    74
5         all  complete    61
6        some  complete    54
8        some  complete    55
9         all  complete    75
11        all  complete    73
   turtorials     labs  exam
1        some  partial    23
4        some  partial    25
7        some  partial    42
10       some  partial    13
12       some  partial    31
13       some  partial    12
14       some  partial    11

In [23]:
#目前只剩下一个特征turtorials可以作为切分变量，对于data2的turtorials的取值完全一样，所以不用再做划分，
#对于data1的特征turtorials计算均方误差
data1_turtorials1 = np.mean(data1[data1.turtorials == 'all']['exam'])
data1_turtorials2 = np.mean(data1[data1.turtorials == 'some']['exam'])
data1_exam1 = data1[data1.turtorials == 'all']['exam'].values
data1_exam2 = data1[data1.turtorials == 'some']['exam'].values
m_data1_turtorials = np.sum((data1_exam1 - data1_turtorials1)**2) + np.sum((data1_exam2 - data1_turtorials2)**2)
print(data1_turtorials1, data1_turtorials2, m_data1_turtorials)

69.66666666666667 54.5 227.83333333333337

In [ ]:
#链接：https://www.jianshu.com/p/b90a9ce05b28
#https://blog.csdn.net/xiaokang06/article/details/76685902
#https://www.jianshu.com/p/b90a9ce05b28